@import "partials/params";

@mixin unselectable{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

@mixin text-font($color: #00c7c0, $font-size: 15px, $font-weight: 400){
	color: $color;
	font-size: $font-size;
	font-weight: $font-weight;
}

@mixin btn($font-size: 15px, $padding: 10px 30px, $border-radius: 30px, $color: #ffc501, $background: #ff3150){
	font-size: $font-size;
	padding: $padding;
	border-radius: $border-radius;
	color: $color;
	background: $background;
	cursor: pointer;
}

@mixin content($padding: 3.750em 0, $margin: 0 auto, $max-width: $max-width){
	padding: $padding;
	max-width: $max-width;    
    margin: $margin;    
}

@mixin block($background: $main-background, $width: 100%){
	width: $width;
	background: $background;
}

@mixin p-before{
	content: "";
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 150px;
	height: 2px;
	margin: 0 auto;
	background: #70dddb;
}

@mixin items($margin: 0 -3%, $justify-content: center, $flex-wrap: wrap){
	display: flex;
	flex-wrap: $flex-wrap;
	justify-content: $justify-content;
	margin: $margin;
}

@mixin item($width: 27.333333%, $margin: 3%){
	width: $width;
	margin: $margin;
}

@mixin section-text($margin: 6em 0 5em){
	margin: $margin;
	text-align: center;
	position: relative;
}

@mixin section-text-before{
	content: "";
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: url(../img/composite_path.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    display: block;
    width: 81px;
    height: 60px;
}