@import "partials/params";

@mixin unselectable{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

@mixin text-font($color: #00c7c0, $font-size: 15px, $font-weight: 400){
	color: $color;
	font-size: $font-size;
	font-weight: $font-weight;
}