@import "partials/params";
@import "partials/mixins";

.footer{
	@include block($main-background);
}

.footer_container{
	@include content(3.75em 0 3em 0);
}

.footer_main{
	@include items(0 -0.5%, center, nowrap);
}

.footer_main_column{
	@include item(24%, 0.5%);
}

.footer_main_column:first-child{
	width: 31%;
}

.footer_main_column:nth-child(2), .footer_main_column:nth-child(3){
	width: 14%;
	margin: 0.5% 2%;
}

.footer_main_column:nth-child(2){
	width: 14%;
	margin: 0.5% 0% 0.5% 2%;
}

.footer_main_column:last-child{
	width: 31%;
}

.footer_main_logo{
    width: 100%;
    line-height: 0;
	img{
    	height: auto;
	}
}

.footer_main_copyrights{
	margin-top: 30px;
	p{
		@include text-font($text-font, 13px);
		line-height: 38px;
	}
	p:first-child{
		margin-bottom: 60px;
	}
	
}

.blue{
	color: #00c7c0;
}

.yellow{
	color: #ffc501;
}

.footer_main_link{
	@include text-font(#f0f8fb);
	
}

.footer_list{
	li{
		margin-top: 25px;
	}

	.footer_list_link{
		@include text-font($text-font, 13px);
	}
}

.footer_list_icon{
	li{
		display: inline-block;
		margin-left: 12px;
	}
	li:first-child{
		margin-left: 0;
	}
}

.footer_btn{
	margin-bottom: 50px;
	a{
		@include btn(13px, 15px 100px, 30px, #fff);
	}
}

.footer_description{
	margin-bottom: 40px;
	margin-top: 20px;
	p{
		@include text-font($text-font, 13px);
		line-height: 38px;
	}
}