@import "partials/params";
@import "partials/mixins";

.menu{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 105;
	height: $menu-height;
	@include block; 
}

.menu_container{
	width: 100%;
    @include content(0);
    position: relative;
}

.menu_logo{
	float: left;
	vertical-align: middle;
	a{
		height: $menu-height;
		line-height: $menu-height;
		img{
			vertical-align: middle;
			height: 38px;
		}
	}
}

.menu_main{
	float: right;
}

.menu_toggle{
	float: right;
	display: none;
}

.menu_toggle_icon{
	display: block;
	line-height: 65px;
}

.menu_icon{
	height: 35px;
    width: 35px;
    fill: $text-font;
    opacity: 1;
    vertical-align: middle;
}

.menu_item{
	display: block;
	float: left;
	line-height: $menu-height;
	margin: 0 5px;
}

.menu_link{
	@include text-font($text-font, 15px, 400);
	text-transform: uppercase;
	padding: 5px 15px;
	letter-spacing: .5px;
	transition: color .3s ease-out;
}

.menu_item:hover .menu_link{
	color: #00c7c0;
}

.menu_item:first-child .menu_link{
	padding: 5px 15px 5px 0;
}

.menu_link_active{
	color: #00c7c0;
}

.menu_tray{
	float: right;
    position: absolute;
    top: 0;
    right: 115px;
}

.menu_btn{
	display: block;
	line-height: $menu-height;
	float: right;
}

.btn_red {
    @include btn;
    font-weight: 400;
    margin-left: 80px;
    transition: background .3s ease-out;
}

.btn_red:hover{
	background: #fd4b66;
}

.search{
	display: block;
	line-height: $menu-height;
	margin: 0 5px;
	position: relative;
	float: right;
	img{
		vertical-align: middle;
		margin-left: 20px;
	}
	
}

.search:before{
	content: "";
    position: absolute;
    top: 20px;
    left: 0px;
    display: block;
    width: 1px;
    height: 40%;
    background: #00c7c0;
}


