@import "partials/params";
@import "partials/mixins";

.services{
	@include block(#fff);
}

.services_container{
	@include content;
}

.services_text{
	@include section-text;
}

.services_text:before{
	@include section-text-before;
}

.services_title{
	margin-bottom: 20px;
	h3{
		@include text-font($main-color, 35px);
	}
}

.services_description{
	position: relative;
	p{
		@include text-font($text-font);
		text-transform: uppercase;
	}
	p:after{
		@include p-before;
	}
}

.services_items{
	@include items;
}

.services_item{
	@include item;
}

.services_item_icon{
	width: 100%;
    line-height: 0;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    img{
    	max-width: 100%;
    	height: auto;
    }
    .services_item_cnt{
    	position: absolute;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	margin: 0 auto;
    } 
}

.services_item_info{
	text-align: center;
}

.services_item_title{
	margin-bottom: 25px;
	h3{
		@include text-font(#ffc501, 20px, 400);
		text-transform: uppercase;
	}
}

.services_item_text{
	p{
		@include text-font($text-font);
		line-height: 25px;
	}
}

